
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-weight: 600 !important;  
  
}


body{

 background-image: url("../public/Ely-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
 display: flexbox ;
  font-display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding-top: 0%;
 
 
  
  }
  
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color:rgba(17, 125, 220, 20%) !important ;
  
}

.button{

  padding-bottom: 5%;
  padding-left: 25%;
  }
